@model eGonullu.ViewModels.ActivityIndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul>
    @if (Model.Activities.Any())
    {
        @foreach (var activity in Model.Activities)
        {
            <li><h2><a asp-action="Details", asp-route-id="@activity.Id">@activity.Name</a></h2></li>
        }
    }
</ul>

