@model eGonullu.ViewModels.HomeIndexViewModel
@{
    ViewBag.Title = "Anasayfa";
}
<div class="jumbotron">
    <h1 class="display-3">Merhaba, Gönüllü!</h1>
    <p class="lead">
        Sosyal Sorumluluk alanında bir projeniz, duyurunuz, etkinliğiniz veya bu alanda herhangi
        çalışmanız varsa, E-Gönüllü'de yer alabilirsiniz.
    </p>
    <hr class="my-4">
    <p>Bulunduğunuz bölgedeki etkinlikleri aşağıdaki filtreleri kullanarak ulaşabilirsiniz!</p>
    
    <div class="btn-group">
        <div class="dropdown m-2">
            <a class="btn btn-outline-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                İl Seçiniz
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">İstanbul</a>
                <a class="dropdown-item" href="#">Ankara</a>
                <a class="dropdown-item" href="#">İzmir</a>
            </div>
        </div>
        <div class="dropdown m-2">
            <a class="btn btn-outline-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                İlçe Seçiniz
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
        <div class="dropdown m-2">
            <a class="btn btn-outline-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Kategori Seçiniz
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Eğitim</a>
                <a class="dropdown-item" href="#">Doğa</a>
                <a class="dropdown-item" href="#">Hayvan</a>
            </div>
        </div>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-5 m-3">
    @foreach (var activity in @Model.Activities)
    {
        <div class="card p-1" style="width: 18rem;">
            <img src="~/images/img.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@activity.Name</h5>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                </p>
                <p class="card-text"><small class="text-muted">Son Güncelleme: 2 saat önce</small></p>
                <a href="#" class="btn btn-outline-success btn-sm btn-block">İncele</a>
            </div>
        </div>
    }
</div>