@model IEnumerable<System.Security.Claims.Claim>
<ul>
    @foreach (var claim in @Model)
    {
        <li>
            <h1>
                @claim.Type = @claim.Value
            </h1>
        </li>
    }
    <li></li>
</ul>